.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1400px) {
  .carousel-container {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  /* Adjust this breakpoint as needed for large devices */
  .carousel-container::before,
  .carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  .carousel-container::before {
    left: 0;
    background: linear-gradient(to right, black, transparent);
  }

  .carousel-container::after {
    right: 0;
    background: linear-gradient(to left, black, transparent);
  }
}

.swiper-slide {
  width: 100%;
  max-width: 1500px;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.2);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  top: auto;
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  background-image: linear-gradient(180deg, #e4d9bd 0%, #aa8246 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  top: 105%;
  margin-top: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-next {
  right: 50%;
  transform: translateX(150%);
}

.swiper-button-prev {
  left: 50%;
  transform: translateX(-150%);
}

/* how to buy seciton mobile styles*/
@media (max-width: 768px) {
  .rotate-bg-mobile {
    background-image: url('/assets/buyframe.png');
    transform: rotate(90deg);
    background-size: cover;
    background-position: center;
  }
}
